* {
  box-sizing: border-box;
}

.checklist {
  width: 595px;
  height: 842px;
}


h1 {
  color: red;
}

img.flag {
  width: 125px;
  float: right;
}

.maintext {
  margin-left: 15px;
}

.instructions {
  margin-left: 10px;
}
.stage-1 {
  margin-top: 60px;
  margin-left: 30px;
}

.hexagon {
  width: 50px;
}

.number {
  position: relative;
  top: -72px;
  left: 21px;
  color: white;
  font-size: larger;
}

.stage-1 h3 {
  position: relative;
  left: 70px;
  bottom: 125px;
}

h4 {
  line-height: 150%;
}

.check-1 {
  position: relative;
  bottom: 130px;
  left: 70px;

}
input[type='checkbox'] {
  transform: scale(2);
}

div.check-text {
  position: relative;
  bottom: 27px;
  left: 30px;
  font-size: large;
}

input[type='checkbox']:checked + div.check-text{
  text-decoration: line-through;
}